<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Micosip</title>

  <!-- Estilos -->
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'/>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  {% block style_css %}{% endblock %}

  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" ></script>
  <script src='{{STATIC_URL}}js/bootstrap.js' ></script>
  <script src='{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js'></script>
  <script src='{{STATIC_URL}}js/jquery-ui-timepicker.js'></script>
  {% block js_code %}{% endblock %}
  
</head>
<body>
  <div id="navbar-example" class="navbar navbar-static">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="brand" href="#"><i class="icon-home"></i> Microsip</a>
        <ul class="nav" role="navigation">
          <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-check"></i>Inventarios<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a tabindex="-1" href="/Entradas/">Entradas</a></li>
              <li><a tabindex="-1" href="/Salidas/">Salidas</a></li>
              <li><a tabindex="-1" href="/InventariosFisicos/">Inventarios Fisicos</a></li>
            </ul>
          </li>
          <li><a href="#"> <i class="icon-shopping-cart"></i> Ventas</a></li>
          <li><a href="#"> <i class="icon-shopping-cart"></i> Compras</a></li>

          <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-file"></i>Reportes<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a tabindex="-1" href="#">Estadistica Mensual</a></li>
              <li><a tabindex="-1" href="#">General</a></li>
            </ul>
          </li>
          <li><a href="{{STATIC_URL}}pdf/Manual de Usuario.pdf" TARGET="_blank"> <i class="icon-question-sign"></i> Ayuda</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="breadcrumbs" style="margin-left: 35px;">
    <div style="text-align:right; height:2em; clear:both;">
      {% if user.username %}
       Administrador <a class="btn btn-small btn-danger" href="/logout/">  Cerrar Sesión</a>
      {% else %}
        <a class="btn btn-small btn-success" href="/login/">Iniciar Sesión</a>
      {% endif %}
    </div>
    {% block breadcrumb %}<a href="/"><i class="icon-home"></i></a>{% endblock %}
  </div>
  <section class='content'>
    <div class="pagecontent">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer>
    SIC &copy; 2012
  </footer>

  <div id="IrArriba" style="display: block;">
    <a href="#Arriba"><span></span></a>
  </div>
  <script type="text/javascript">
  //<![CDATA[
  // Botón para Ir Arriba
  $(document).ready(function() {
    $("#IrArriba").hide();
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
          $('#IrArriba').fadeIn();
        } else {
          $('#IrArriba').fadeOut();
        }
      });
      $('#IrArriba a').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    });

  });
  //]]>
  </script>
</body>
</html>