{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/PreferenciasEmpresa/">Preferencias de la Empresa</a>{% endblock %}
{% block content %}
{% if msg %}
<div class="alert alert-block fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{ msg }}</strong> 
</div>
{% endif %}
<div class="form-actions">
  <ul id="myTab" class="nav nav-tabs ">
    <li class=""><a href="#general" data-toggle="tab">Genaral</a></li>
    <li class="active"><a href="#informacionContable" data-toggle="tab">Informacion Contable</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mas <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class=""><a href="#dropdown1" data-toggle="tab">@fat</a></li>
        <li class=""><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
      </ul>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade " id="general">
      <p>DATOS DE CONFIGURACION GENERAL</p>
    </div>
    <div class="tab-pane fade active in" id="informacionContable">
      <form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>
      {% csrf_token %}
        {{ form.errors }}
        <fieldset>
        <legend>Cuentas contables:</legend>
        <div class="span3" style='clear:both;'>
          <label>Cuentas por Cobrar</label>
          <div class="input-prepend input-append">
            {{ form.cuantaxcobrar }}
          </div>
        </div>
        <div class="span3" >
          <label>Cobros</label>
          <div class="input-prepend input-append">
            {{ form.cobros }}
          </div>
        </div>
        <div class="span3" >
          <label>Descuentos</label>
          <div class="input-prepend input-append">
            {{ form.descuentos }}
          </div>
        </div>
        <div class="span4" >
          <label>Condicion de pago de CONTADO</label>
          <div class="input-prepend input-append">
            {{ form.condicion_pago_contado }}
          </div>
        </div>
        </fieldset>
        <fieldset>
        <legend>Pólizas de ventas:</legend>
        <div class="span3" style='clear:both;'>
          <label>Tipo de Póliza</label>
          <div class="input-prepend input-append">
            {{ form.tipo_poliza_ve }}
          </div>
        </div>
        <div class="span4" >
          <label>Descripción</label>
          <div class="input-prepend input-append">
            {{ form.descripcion_polizas_ve }}
          </div>
        </div>
        </fieldset>
        <div class="span2">
          <label>.</label>
          <div class="btn-group">
            <input type="submit" class="btn btn-primary"  data-loading-text="Guardando..." value='Guardar'/>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="dropdown1">
      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </div>
    <div class="tab-pane fade" id="dropdown2">
      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
    </div>
  </div>
</div>
{% include 'autocomplete_light/static.html' %}
{% endblock %}