{% extends "base.html" %}
{% block title %}Cuentas por pagar{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block breadcrumb %}{{ block.super }} Cuentas por pagar{% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
  <!-- <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="msicon-inventarios"></i><label class='labelMenu'>  
      Inventarios</label></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/inventarios/Entradas/">Entradas</a></li>
      <li><a tabindex="-1" href="/inventarios/Salidas/">Salidas</a></li>
      <li><a tabindex="-1" href="/inventarios/InventariosFisicos/">Inventarios Fisicos</a></li>
    </ul>
  </li> -->
  </ul>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-cog"></i> Herramientas <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
        <li><a tabindex="-1" href="#">Generar Polizas Contables</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="-1" href="/cuentas_por_pagar/PreferenciasEmpresa/">Preferencias de la empresa</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}