{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Facturas {% endblock %}
{% block content %}
FACTURAS[{{ facturas.count }}]
x= {{ x }}
<hr>
<table class="table tableCell table-hover">
    <tr>
      	<th>FOLIO</th>
      	<th>TOTAL</th>
      	<th>VENTAS_0</th>
      	<th>VENTAS_16</th>
      	<th>IVA TRANSALDADO</th>
    </tr>
	{% for factura in facturas %}
	<tr>
	  	<td>{{ factura.folio }}</td>
	  	<td>{{ factura.total }}</td>
	  	<td>{{ factura.ventas_0 }}</td>
	  	<td>{{ factura.ventas_16 }}</td>
	  	<td>{{ factura.impuesos }}({{ factura.cuantos }})</td>
	</tr>
	{% endfor %}
</table>
<hr>
CUENTAS
<hr>
{% for cuenta in CuentasCobrables %}
	{{ cuenta.cuenta }}<br>
{% endfor %}


{% endblock %}