{% extends "base_c.html" %}
{% block title %}Polizas{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} polizas {% endblock %}
{% block content %}
<div class="form-actions mainmenu">
  <!-- <a class="btn btn-success" href="/contabilidad/poliza/">Nueva</a> -->
</div>
<table class="table tableCell table-hover">
    <tr>
      <th>ID</th>
      <th>FOLIO</th>
      <th>FECHA</th>
      <th>DESCRIPCION</th>
      <th>APLICADO</th>
      <th>OPCIONES</th>
    </tr>
    {% for poliza in polizas%}
    <div id="myModal{{ poliza.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
      </div>
      <div class="modal-body">
        <h4>Al eliminar la poliza con el folio: {{ poliza.folio }}</h4>
        <p style="color:red;">Ya no sera posible recuperar los datos del inventario</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="/contabilidad/poliza/Delete/{{ poliza.id }}/" class="btn btn-primary">Estoy Seguro</a>
      </div>
    </div>
    <tr>
      <td>
        <a href="/contabilidad/poliza/{{ poliza.id }}/">{{ poliza.id }}</a>
      </td>
      <td>{{ poliza.poliza }}</td>
      <td>{{ poliza.fecha }}</td>
      <td>{{ poliza.descripcion }}</td>
      <td>{{ poliza.aplicado }}</td>
      <td style="text-align:center;">
        <a href='#myModal{{ poliza.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
      </td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if polizas.has_previous %}
        <li><a href="?page={{ polizas.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ polizas.number }} de {{ polizas.paginator.num_pages }}.</a></li>
        {% if polizas.has_next %}
        <li><a href="?page={{ polizas.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}