{% extends "base.html" %}
{% block title %}Ventas{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block breadcrumb %}{{ block.super }} Ventas{% endblock %}
{% block tools-module %}
    <div id="span breadcrumbs" >
      <div class ='span'style="text-align:right; height:2em;">
        <li class="dropdown">
          <a id="drop1" href="#" role="button" class="btn dropdown-toggle" data-toggle="dropdown"> <i class="icon-cog"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
            <li><a tabindex="-1" href="/ventas/PreferenciasEmpresa/">Preferencias de la empresa</a></li>
          </ul>
        </li>
      </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}