{% extends "base.html" %}
{% block title %}Principal{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}
{% block modulestyle_css %}
<style type="text/css">
  body
  {
    background-color: rgb(255, 255, 255)
  }
</style>
{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block breadcrumb %}{{ block.super }} Cuentas por cobrar{% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
  <!-- <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="msicon-inventarios"></i><label class='labelMenu'>  
      Inventarios</label></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/inventarios/Entradas/">Entradas</a></li>
      <li><a tabindex="-1" href="/inventarios/Salidas/">Salidas</a></li>
      <li><a tabindex="-1" href="/inventarios/InventariosFisicos/">Inventarios Fisicos</a></li>
    </ul>
  </li> -->
  </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}